h1{
    font-family: 'Nerko One', cursive;
    /*font-family: 'Sriracha', cursive;*/
    font-size:xx-large;
    color: rgb(13, 17, 13);
}
h2{
    font-family: 'Nerko One', cursive;
    font-size:x-large;
    color: rgb(186, 93, 56);
}
h3{
    font-family: 'Nerko One', cursive;
    colo    
}

ul1{
    font-family: 'Nerko One', cursive;
    font-size:large
    
}
body{
    background-color: rgb(176, 176, 176);
}
table{
    color: rgb(44, 134, 104);
}